<a href="/shelters">Shelter Index</a>

<h1>Shelter Name: <%= @shelter.name %></h1>
<p>Shelter Address: <%= @shelter.address %></p>
<p>Shelter City: <%= @shelter.city %></p>
<p>Shelter State: <%= @shelter.state %></p>
<p>Shelter Zip: <%= @shelter.zip %></p>

<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
