<header><%= link_to "All Pets", "/pets" %><br>
<%= link_to "All Shelters", "/shelters" %></header>

<h1>Pet Name: <%= @pet.name %></h1>
<%= image_tag(@pet.image, alt: @pet.name, method: :get) %>
<p>Pet Description: <%= @pet.description %></p>
<p>Pet Approx. Age: <%= @pet.approx_age %></p>
<p>Pet Sex: <%= @pet.sex %></p>
<p>Pet Adoptable Status: <%= @pet.adoptable? %></p>

<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
